.section h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav, .site-address, .socials-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-container .logo, .site-nav .item a, .site-address a, .flex-footer a, .social-item > .social-icon {
  text-decoration: none;
  display: block;
}

.site-address a, .social-item > .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #2f303a;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo .logo-primary {
  color: #2196f3;
}

.flex-container .logo {
  -webkit-animation: logo-appear 350ms linear;
          animation: logo-appear 350ms linear;
}

@-webkit-keyframes logo-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes logo-appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.main-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .main-button {
    display: none;
  }
}

.main-button .icon-menu-close {
  display: none;
}

.main-button.is-open .icon-menu-close {
  display: block;
}

.main-button.is-open:hover .icon-menu-close {
  color: #2196f3;
}

.main-button.is-open .icon-menu-open {
  display: none;
}

.icon-menu-close {
  fill: currentColor;
}

.container .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container .flex-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px 0;
  }
}

.container.flex-container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 60px;
    z-index: 1;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav {
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.site-nav .item a {
  position: relative;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav .item a {
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .item a:hover,
.site-nav .item a:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: 305px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.item a.current {
  color: #2196f3;
}

.item .current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.site-address {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-address {
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-address {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .site-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-address .address-item:not(:last-child) {
    margin-right: 30px;
  }
}

.site-address a {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-address a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.site-address a:hover,
.site-address a:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .address-item:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-item:first-child {
    margin-bottom: 10px;
  }
}

.icon-address {
  display: block;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-address {
    margin-right: 8px;
  }
}

.footer-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer-padding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseLine;
        -ms-flex-align: baseLine;
            align-items: baseLine;
  }
}

@media screen and (min-width: 1200px) {
  .flex-footer {
    margin-right: 70px;
  }
}

@media screen and (max-width: 767px) {
  .flex-footer {
    text-align: center;
    margin-bottom: 60px;
  }
}

.logo.inverse {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .logo.inverse {
    text-align: center;
  }
}

.footer-address {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.address.color-white {
  color: #ffffff;
}

.address {
  display: inline-block;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:not(:last-child) {
  margin-bottom: 9px;
}

.address:hover, .address:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .address:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .join-container {
    margin-bottom: 60px;
    text-align: center;
  }
}

.join-container .join {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .socials-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials-list .social-icon:hover,
.socials-list .social-icon:focus {
  background-color: #2196f3;
}

.socials-list > .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item > .social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item > .social-icon .icon-join {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1199px) {
  .auth-container {
    max-width: 450px;
    margin: 0 auto;
  }
}

.auth-container .auth {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .auth-container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.email-button {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .email-button {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .email-button {
    margin-bottom: 20px;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  margin: 0;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button .icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=common.css.map */