.section.no-padding h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list, .work-list, .team-list, .team-socials, .clients-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work-item a, .team-icon .social-icon, .client-company {
  text-decoration: none;
  display: block;
}

.overlay, .modal-form-check, .icon-features, .team-icon .social-icon, .client-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #2f303a;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.overlay {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay-2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay-ipad.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay-ipad.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay-ipad-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay-ipad-2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    max-width: 480px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay-mobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay-mobile.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay/overlay-mobile-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay/overlay-mobile-2x.jpg");
  }
}

.hero-title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.hero-button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  min-width: 136px;
  padding: 10px 32px;
  margin: 0;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 93px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 450px;
  width: 93%;
  min-height: 609px;
  padding: 40px 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    min-width: 528px;
    min-height: 581px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    top: 208px;
    width: 100%;
  }
}

.modal .button {
  display: block;
  padding: 10px 55px;
  margin: 0 auto;
}

.flex-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-form .modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.modal-form {
  display: block;
  width: 100%;
  border: none;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form:focus {
  border: 2px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.modal-form + .icon-modal {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form:not(:placeholder-shown) + .icon-modal {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .modal-form:not(:placeholder-shown) ~ .modal-text {
    color: #2196f3;
  }
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field:focus-within > .icon-modal {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .form-field:focus-within > .modal-text {
    color: #2196f3;
  }
}

.form-field .modal-text {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.comment .modal-form {
  padding: 12px 16px;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
}

.comment.form-field {
  margin-bottom: 20px;
}

.comment .modal-form::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.4);
}

.comment .modal-form:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.4);
}

.comment .modal-form::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.4);
}

.comment .modal-form::placeholder {
  color: rgba(117, 117, 117, 0.4);
}

.modal-form-check {
  border: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form-check .checkbox-text {
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (max-width: 1199px) {
  .modal-form-check .checkbox-text {
    font-size: 12px;
    line-height: 1.16;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .icon-checkbox {
    max-width: 16px;
    min-height: 15px;
    width: 100%;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:focus + .icon-checkbox {
  outline: 2px solid #2196f3;
}

.checkbox:checked + .icon-checkbox {
  background: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/svg/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox:checked:focus + .icon-checkbox {
  background: #2196f3;
  border-color: #2196f3;
  background-image: url("../images/svg/check.svg");
  background-size: contain;
  background-origin: border-box;
  outline: none;
}

.check-link {
  color: #2196f3;
}

.check-link:focus {
  border: 2px solid #2196f3;
  border-radius: 4px;
  outline: none;
}

.icon-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #212121;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal-close:hover, .icon-modal-close:focus {
  color: #2196f3;
}

.icon-modal-close .icon-close {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .section.no-padding {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-list .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .features-item {
    -ms-flex-preferred-size: calc((100% - 30px * 4) / 4);
        flex-basis: calc((100% - 30px * 4) / 4);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list .features-item {
    -ms-flex-preferred-size: calc((100% - 15px * 4) / 2);
        flex-basis: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}

.icon-features {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.icon-features .icon-feature {
  width: 70px;
  height: 70px;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  text-transform: uppercase;
}

.features-list .text {
  margin: 0;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .features-section {
    display: none;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list .work-item {
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
      flex-basis: calc((100% - 2 * 30px) / 3);
  z-index: -1;
}

.work-list .work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item a {
  position: relative;
}

.work-list .work-subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 27px 80px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.section.team-bgc {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list .team-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .team-list .team-item {
    -ms-flex-preferred-size: calc((100% - 15px * 8) / 4);
        flex-basis: calc((100% - 15px * 8) / 4);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list .team-item {
    -ms-flex-preferred-size: calc((100% - 15px * 4) / 2);
        flex-basis: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-description {
  padding: 30px 32px 24px 32px;
  text-align: center;
  background-color: #ffffff;
}

.team-description .team-title {
  margin-top: 0;
  margin-bottom: 10;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-description .team-ocupation {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-socials .team-icon:not(:last-child) {
  margin-right: 10px;
}

.team-icon .social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-icon .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-icon a {
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon a:hover, .team-icon a:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients-list .clients-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-preferred-size: calc((100% - 15px * 12) / 6);
        flex-basis: calc((100% - 15px * 12) / 6);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list .clients-item {
    -ms-flex-preferred-size: calc((100% - 15px * 6) / 3);
        flex-basis: calc((100% - 15px * 6) / 3);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list .clients-item {
    -ms-flex-preferred-size: calc((100% - 15px * 4) / 2);
        flex-basis: calc((100% - 15px * 4) / 2);
    margin: 15px;
  }
}

.client-company {
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-company:hover, .client-company:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.client-icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */